

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formField {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 70%;
}

.chatContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.activeChat {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds spacing between messages */
    padding: 10px;
}

.assistantMessage, .userMessage {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%; /* Prevents messages from being too wide */
    word-wrap: break-word;
}

.assistantMessage {
    align-self: flex-start;
}

.userMessage {
    align-self: flex-end;
    color: white;
}

